.AttendanceComp {
    border-style: dashed;
    border-color: red;
    border-width: 2px;
    padding: .5cm;
    margin-bottom: 5px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }